<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="me" href="https://mastodon.social/@indefenseoftoucans" />
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{"assets/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{"assets/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{"assets/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{"assets/site.webmanifest" | relative_URL }}">
  {%- feed_meta -%}
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
  <meta name="google-site-verification" content="ku4mZ0HUihwDn44UhMw-YnI07jI9bKsy7Wi2ORQs6ME" />
  {% seo %}




</head>

