---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.footer-col-1 {
    width: -webkit-calc(30% - (30px / 2));
    width: calc(30% - (30px / 2));
}
.footer-col-2 {
	width: -webkit-calc(25% - (30px / 2));
	width: calc(25% - (30px / 2));

}

